$wa-color-light: #e0e0e0;
$wa-color-dark: #464646;
$wa-color-red: #cc3328;
$wa-color-green: #3eac43;
$wa-color-blue: #4168b3;
$wa-color-orange: #ff8906;
$wa-color-pink: #e75480;
$wa-color-purple: #6d2786;
$wa-color-brown: #86694f;
$wa-color-jade: #00a86b;
$wa-color-yellow: #c1ba06;
$wa-color-deepskyblue: #29a2cc;
$wa-color-khaki: #78866b;
$wa-color-amethyst: #9966cc;
$wa-color-periwinkle: #ccccff;
$wa-color-tomato: #e9725d;

$standart-color-1: #f5f5f5; // default light
$standart-color-2: #3b3c39; // default dark

$wa-body-bg: #e4e4e4; // цвет фона страницы
$wa-links-color: #272a45; // станартный цвет ссылок
$wa-footer-color: #6d675f; // цвет .wa-footer
